@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajout de gouttières globales */
/* Ajout de gouttières globales */
body {
  @apply mx-258px;
  @apply my-4;
}

@font-face {
  font-family: "Overpass Mono";
  src: url("/OverpassMono-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Overpass Mono", monospace;
}
